.title {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-fill: white;
}

.label {
    -fx-font-size: 20px;
}

.button {
    -fx-font-size: 25px;
    -fx-font-weight: bold;
}

.small-text {
    -fx-font-size: 15px;
}