.title {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-fill: white;
}

.label {
    -fx-font-size: 20px;
}

.button {
    -fx-font-size: 25px;
    -fx-font-weight: bold;
}

.media-element:hover {
    -fx-text-fill: #ffffff;
}

.start {
    -fx-font-size: 65px;
    -fx-text-fill: #0bf400;
}

.stop {
    -fx-font-size: 45px;
    -fx-text-fill: #00daff;
}

.small-text {
    -fx-font-size: 15px;
}

.timer-label {
    -fx-font-size: 35px;
}